<h1>Products</h1>

{{#each products}}
    <div>
        <h4>Title: {{this.title}} Product description: {{this.description}}Code: {{this.code}} Stock: {{this.stock}} Id: {{this.id}}</h4>
    </div>
{{/each}}
